%h1 React Calendar

%h2 Appointments

%h3 Make a new appointment

= form_for @appointment, remote: true do |f|
  = f.text_field :title, placeholder: 'Appointment title'
  = f.text_field :appointment_time, placeholder: 'Time & Date'
  = f.submit 'Make appointment'

#appointments
  = render 'appointments'

%p Learning to use React with Rails
