%h1 React Calendar

%h2 Appointments

%h3 Make a new appointment

= form_for @appointment, remote: true do |f|
  = f.text_field :title
  = f.text_field :appointment_time
  = f.submit 'Make appointment'

- @appointments.each do |a|
  %h3= a.title
  %p= a.appointment_time

%p Learning to use React with Rails
